In [1]:
exam <- read.csv('data/csv_exam.csv')

In [2]:
class(exam)

[1] "data.frame"

In [3]:
exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

In [7]:
exam[exam$class==1 & exam$math >= 50,]

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60

In [ ]:
j