# R 내장 함수, 변수 타입과 데이터 구조
## R 내장 함수로 데이터 추출하기
### 행 번호로 행 추출하기

In [1]:
exam <- read.csv('data/csv_exam.csv')

In [2]:
exam[]

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

In [5]:
exam[1, ] # 1행 추출

  id class math english science
1 1  1     50   98      50

In [6]:
exam[2, ]   # 2행 추출

  id class math english science
2 2  1     60   97      60

In [7]:
### 조건을 충족하는 행 추출하기

In [11]:
library(dplyr)
mpg <- as.data.frame(ggplot2::mpg)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [12]:
mpg %>%
    mutate(tot = (cty + hwy)/2) %>%
    filter(class == 'compact' | class == 'suv') %>%
    group_by(class) %>%
    summarise(mean_tot = mean(tot))

  class   mean_tot
1 compact 24.21277
2 suv     15.81452

## 변수 타입
- 연속 변수
- 범주 변수

| 변수 | Data Type | 예 |
|---- |----        |----|
| 연속변수 | Numeric | 키, 몸무게 |
| 범주변수 | Factor | 성별(1,2), 지역(1,2,3,4) |

## 정리하기

In [16]:
## 1. 데이터 추출하기
exam[1,]

  id class math english science
1 1  1     50   98      50

In [17]:
exam[exam$class == 1, ]

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58

In [18]:
exam[exam$class == 1 & exam$math >= 50, ]

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60

In [19]:
exam [, 1]

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

## 2. 변수 타입

In [21]:
var <- c(1,2,3,1,2)