# 1. R programming
## (1) 자료 추출
### 1) 행번호로 행 추출하기

In [6]:
exam <- read.csv("data/csv_exam.csv")

In [7]:
head(exam)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98

In [8]:
exam[1,] # 1행 추출

  id class math english science
1 1  1     50   98      50

In [9]:
exam[2,] # 2행 추출

  id class math english science
2 2  1     60   97      60

### 2) 조건을 충족하는 행 추출하기
- 쉼표 왼쪽에 조건을 입력하면 조건에 맞는 행을 추출한다.
- \[\]안에 &와 | 를 사용해 여러 조건을 충족하는 행을 추출할 수 있다.

In [12]:
# 1반 이면서 수학 점수가 50점 이상
exam[exam$class==1 & exam$science>=50, ]

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58

In [13]:
# 영어점수가 90점 미만이거나 과학점수가 50점 미만
exam[exam$english<90 | exam$science<50,]

   id class math english science
3   3 1     45   86      78
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
14 14 4     48   87      12
15 15 4     75   56      78
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

## (2) DataFrame 자료구조의 이해

- DataFrame 은 가장 많이 사용하는 데이터 형태로, 행과열로 구성된 표 모양이다.
- List 자료구조보다 자료 처리가 효과적이기 때문에 DataFrmae을 더 많이 사용한다.
- List 와 Vector의 혼합형으로 컬럼은 List, 컬럼내의 데이터는 Vector자료구조를 갖는다.
- DataFrame 생성함수: data.frame(), read.table(), read.csv()
- DataFrame 자료처리 함수: str(), ncol(), nrow(), apply(), summary(), subset() 등 
- DataFrame 생성방법: Vector, matrix, 파일(txt, excel, csv)이용

In [15]:
 m <- matrix( c(1,"hong",150,
                2, "lee", 250,
                3, "kim", 300) ,
                3 ,by=T) # 행우선, 3개 리스트 생성

In [16]:
memp = data.frame(m)

In [17]:
memp

  X1 X2   X3
1 1  hong 150
2 2  lee  250
3 3  kim  300